.custom-button {
  background: none;
  border: none;
  color: #ffffff;
}

.custom-button:hover {
  color: #808080;
}

body {
  padding: 0;
  overflow: hidden;
  background-color: #2b2a33;
  color: #ffffff;
}

#editor {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  background: none;
  line-height: 16px;
  color: #ffffff;
}
#operations {
  display: flex;
}
